body {
    color: white;
    background: black;
    margin: 0px;
}

header {
    border-bottom: solid 2px white;
    padding: 15px;
    font-size: 28px;
}

section {
   background: gray;
   padding-top: 15px;
   padding-bottom: 45px;
   border-bottom: solid 2px white;
}